body{
    max-height: 1300px;
}

a{
    font-size: 55px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.nav-container{
    background-color:none;
    border-style: hidden;
    height: 70px;
    border-width: 1px;
}

#about-me{
position: relative;
text-align: center;
width: 400px;
height: 70px;
bottom: 3px;
background-color: none;
transition: all .2s ease-in-out;
background-color: white;
}

#work:hover { transform: scale(1.1); 
    background-color: rgb(222, 159, 152);
}
#contact-me:hover { transform: scale(1.1); 
    background-color:rgb(222, 159, 152);
}
#about-me:hover { transform: scale(1.1); 
    background-color: rgb(222, 159, 152);
}

#work-info:hover{ transform: scale(1.1); 
    background-color: rgb(222, 159, 152);
}
#contact-me-info:hover{ transform: scale(1.1); 
    background-color: rgb(222, 159, 152);
}
#about-me-info:hover{ transform: scale(1.1); 
    background-color: rgb(222, 159, 152);
}


#work{
    position: relative;
    left: 405px;
    width: 540px;
    border-width: 1px;
    background-color: white; 
    height: 70px;
    border-style: hidden;
    text-align: center;
    bottom: 73px;
    transition: all .2s ease-in-out; 
}

#contact-me{
    position: relative;
    left: 950px;
    width: 472px;
    border-width: 1px;
    background-color: white;
    height: 70px;
    border-style: hidden;
    text-align: center;
    bottom: 142px;
    transition: all .2s ease-in-out; 
}

.h1-container{
    height: 185px;
    width: 695px;
    bottom: 1090px;
    left: 725px;
    position: relative;
    background-color: whitesmoke;
    border-width: 1px;
    border-style: solid;

}

h1{
    text-align: center;
    font-size: 64px;
}


#about-me-info{
    width: 695px;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    height: auto;
    height: 400px;
    background-color:whitesmoke;
    text-align: center;
    font-family:fantasy;
    transition: all .2s ease-in-out;
}

#work-info{
    border-style: solid;
    border-color: black;
    border-width: 1px;
    height: 495px; 
    width: 695px;
    background-color: whitesmoke;
    text-align: center;
    font-family: fantasy;
    transition: all .2s ease-in-out;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    border-style: solid;
}

#contact-me-info{
    border-style: solid;
    margin-right: 500px;
    padding-top: 10px;
    
    /* bottom: 1100px; */
    transition: all .2s ease-in-out;
}

.card6:hover { transform: scale(1.1); }
.card5:hover { transform: scale(1.1); }
.card4:hover { transform: scale(1.1); }
.card3:hover { transform: scale(1.1); }
.card2:hover { transform: scale(1.1); }
.card1:hover { transform: scale(1.1); }


.card6,
.card5,
.card4,
.card3,
.card2,
.card1{
    border-style: solid;
    border-width: 1px;
    transition: all .2s ease-in-out;
    background-color: white;
    width: 250px;
    height: 115px;
    margin-top: 30px;
}

.card-links{
    font-size: 10px;
}
 
#workTitle{
    margin-bottom: 15px;
    margin-left: 50px;
    font-size: 30px;
    font-style: italic;
    font-style: oblique;
}

#span-text{
    position: relative;
    left: 260px;
    top: 25px;
    font-family: fantasy;
}

.footer{
    font-family: fantasy;
    border-style: solid;
    border-width: 1px;
    width:695px;
    height: 100px;
    background-color: whitesmoke;
    margin-top: 10px;
    margin-right: 100px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    
}

#footer-h3{
    text-align: center;
    margin-bottom: 30px;
    position: relative;
    
}


.footer-text{
    padding-left: 15px;
    margin-bottom: 60px;   
}